@media screen and (min-width: 1280px) {
  .subtitle {
    padding: 40px 0 35px 0;
    font-size: 24px;
  }

  /* HEADER */
  .menu {
    height: 100px;
    padding: 0 20%;
  }
  .burger {
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: #0f5167;
  }
  .navigation__item {
    padding: 0 10px;
  }
  .auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .auth img {
    width: 17px;
    height: 17px;
  }
  .auth p {
    padding: 0 5px;
  }

  .headerContent {
    padding: 30px 20%;
    background: right no-repeat url("./images/bgimage__desktop.png");
    background-position: 50% 100%;
    background-size: cover;

    background-color: #e0ecf8;
  }
  .imagePeople {
    display: none;
  }
  .headerContent__title--question {
    width: 60%;
    padding-left: 0;
    font-size: 40px;
    line-height: 46px;
  }
  .headerContent__title {
    padding-left: 0;
    width: 60%;
    font-size: 22px;
    line-height: 30px;
  }
  .viewTreatments {
    padding-left: 0;
  }
  .headerContent__text {
    padding-left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  /* CONTENT FOR DESKTOP */
  .advantages,
  .reviews {
    display: none;
  }

  .description,
  .howItWork,
  .advantages,
  .reviews {
    padding: 0;
  }

  .desktop-content {
    display: flex;
    justify-content: space-between;
    padding: 75px 20%;
  }
  .desktop-content--left p {
    font-size: 16px;
    line-height: 26px;
  }
  .desktop-content--left ul {
    font-size: 15px;
    line-height: 28px;
  }

  .desktop-content--rigth {
    padding-top: 50px;
  }

  .desktop-content--rigth,
  .desktop-content--rigth .advantages,
  .desktop-content--rigth .reviews,
  .howItWork {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .desktop-content--left {
    margin-right: 130px;
  }

  .rewiews__list {
    display: inherit;
    flex-direction: column;
  }

  /* REVIEW */
  .review {
    margin-bottom: 20px;
  }
  .review.mobile {
    display: block;
  }
  .reviews__title {
    padding-top: 15px;
  }
  .reviews__subtitle {
    margin-bottom: 15px;
  }
  .reviews__subtitle p {
    font-size: 16px;
    text-align: left;
  }

  /* ADVANTAGES */
  .advantages p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .advantage {
    padding-bottom: 5px;
  }

  /* TREATMENTS */
  .treatments {
    padding: 0 20%;
  }
  .treatments p {
    font-size: 13px;
    font-weight: 400;
  }
  .treatments__FAQ {
    font-size: 14px;
    font-weight: 400;
  }
  .treatment {
    flex-basis: 32%;
  }
  .package__text {
    display: none;
  }
  .treatmentImage {
    display: none;
  }
  .treatmentTitle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .treatmentTitle span {
    font-size: 24px;
  }
  .treatmentTitle .treatmentImage {
    display: block;
    margin: 0;
  }
  .treatmentTitle img {
    margin: 0;
  }
  .treatmentTitle .treatmentImage img {
    width: 100%;
    height: 100%;
  }
  .treatmentParams {
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 15px;
  }

  /* ANSWERS */
  .answers {
    padding: 0 20%;
    margin-bottom: 90px;
  }
  .questions {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 600px;
  }
  .question {
    width: 48%;
  }

  /* FOOTER */
  .footer {
    padding: 0 20%;
    padding-bottom: 80px;
  }

  .footer__logos,
  .footer__icons.tablet {
    display: none;
  }
  .footer__icons.desktop {
    display: block;
  }
  .icons.desktop,
  .logos.desktop {
    padding: 0 15px;
    display: inline-block;
  }
  .logos.desktop {
    border-right: 1px solid rgba(211, 214, 217, 0.67);
  }
  .logo2 {
    margin: 0 10px;
  }
}
